.loginbackground {
    background-image: url('Plane-at-Sunset.jpg');
    background-size: cover;
    /*height: 100%;*/
}

.mainbackground {
    background-image: url('Screen Shot 2017-04-24 at 2.36.32 PM.png');
    background-size: cover;
}


#email, #username, #firstname, #lastname {
    width: 400px;
}

/*.panel-heading {*/
    /*background-color: blue;*/
/*}*/
/*html {*/
    /*background-image: url('bank.jpeg');*/
    /*height: 100%;*/
/*}*


